.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;

}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {transform: translate3d(100%);}
  to {transform: translate3d(0px,33px,0px)rotate(45deg)}
}

@keyframes middle {
  from {transform:rotateX(5deg);}
  to {transform:rotateX(90deg);}
}

@keyframes bottom {
  from {transform: translate3d(100%);}
  to {transform: translate3d(0px,-33px,0px)rotate(-45deg)
  }
}
