@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.caption {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

img {
  width: 80%;
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
  transform: translateY(85%);
  transition: 5s;

}
.caption:hover .overlay {
  transform: translateY(0);
}

button {
  padding: 1em;
  margin: .2em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  background-color: ghostwhite;
}

button:hover {
  background-color: cornflowerblue;
  transition: 2s;

}
